// buttons.scss

.link {
  background: transparent;
  border: solid 2px color(secondary, light);
  border-radius: $radius;
  color: color(secondary, light);
  padding: 8px 20px;
  cursor: pointer;
  transition: color $time $ease, background-color $time $ease, border $time $ease;

  &:hover {
    border: solid 2px color(background);
    color: color(foreground, invert);
    transition: all $time $ease;
  }

  &--bg {
    background-color: color(secondary, light);
    color: color(foreground, invert);
    transition: all $time $ease;

    &:hover {
      background-color: transparent;
      border: solid 2px color(secondary, light);
      color: color(secondary, light);
      transition: all $time $ease;
    }
  }

  &--rv {
    color: color(foreground, invert);
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    margin-right: 10px;
  }
}

.button {
  @extend .link;
  @extend .link--bg;
  -webkit-appearance: none;
  font-size: 16px;
}