* {
  outline: none;
  padding: 0; margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.container {
  width: 1200px;
  margin: auto;
}

.clear {
  display: block;
  content: " ";
  clear: both;
}

a {
  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }
}

ul {
  li {
    list-style: none;

    &.disc {
      list-style: disc;
    }
  }
}

/* Responsive design */

@media (max-width: 1024px) {

  .container {
    width: 100%;
  }
}
